* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(assets/gradient_2.jpg);
}

.top {
  display: flex;
  align-items: center;
  height: 21vh;
  width: 80vw;
  margin: 0;
  margin-top: 5vh;
  margin-left: 70px;
  border-radius: 10vw;
  background-color: #ffffff;
}

.logo {
  height: 17vw;
  width: 17vw;
  /* border: 2px solid red; */
  margin-left: vw;
}

.name {
  color: rgb(0, 0, 0);
  font-size: 2vw;
  font-weight: 900;
  /* border: 1px solid red; */
  margin-right: 5vw;
  cursor: default;
}

.real-search {
  padding: 1vw;
  width: 35vw;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-color: rgb(84, 85, 87);
}

.search-btn {
  padding: 1vw;
  width: 4vw;

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  background-color: rgb(83, 104, 223);
}

.about-rat {
  color: #fff;
  margin-left: 10%;
  margin-top: 5%;
}

.about-rat p {
  font-size: 50px;
  font-weight: 500;
}

.about-rat h1 {
    /* border: 1px solid red; */
    width: 50vw;
  font-size: 90px;
  line-height: 70px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(assets/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.about-rat h4 {
  font-size: 40px;
  font-weight: 500;
}

.mealimage{
    width: 40vw;
    height: 80vh;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
}

.searchedFoodContainer{
    display: inline-grid;
    width: 100vw;

}

.fetallimg{
    flex: 0 0 calc(25%-20px);
    width: 15vw;
    margin: 10px;
    text-align: center;
    overflow: auto;
}

.fetallimg img{

    width: 15vw;
    height: 25vh;
}

.fetallimg h3{
    font-size: larger;
    font-weight: 700;
}


